{% extends '/layouts/default.html' %}

{% block title%}Accueil - {{super()}}{% endblock %}

{% block body %}

<div class="fenetre" id="corps">
    <div>
        <h1>Mi kwa bô!</h1>
        <p id="bienvenue">
            Bienvenue sur le site de <br>
            l'Ecole de boologie d'Adjarra
        </p>

    </div>
    <div id="mini-symposium">
        <h1>Mini-symposium</h1>
        <img class="gallerie" src="{{url_for('static', filename='image/affiche.jpg')}}" alt="affiche symposium">
        <p>
            Je veux prendre part aux activités du mini-symposium!
            <a href="https://forms.gle/iexEohDkuuSjEaDZ8">S'inscrire ici</a>
        </p> 
    </div>

</div>

{% include 'layouts/partials/annonce.html' %}

{% endblock %}