{% extends '/layouts/default.html' %}

{% block title%}Qui sommes-nous? - {{super()}}{% endblock %}

{% block body %}

<div class="fenetre" id="corps">
    <div>
        <h1>Mini-symposium</h1>
        {#<img class="gallerie" src="{{url_for('static', filename='image/affiche.jpg')}}" alt="affiche symposium">#}

        <h2>Conférences</h2>
        <p>
            Le mini-symposium se veut être une occasion d'échange autour du thème "la fonction de la pensée Vodun
            dans le processus de développement du Bénin". Pour ce faire, il est prévu un certain nombre de communications
            animées par des experts. Au programme, nous avons les communications suivantes:
        </p>
        <div class="liste">
            <ul>
                <li>La pensée du Vodun: un paradigme nouveau</li>
                <li>Itinéraire mexicain du Vodun</li>
                <li>Ejauu ou développement dans le temps</li>
                <li>...</li>
            </ul>
        </div>    
        
        

        <h2>Table ronde</h2>
        <p>
            Dans l'objectif d'intégrer toutes les parties dans la réussite de l'évènement une plage spéciale a
            été réservé aux étudiants de première année du département de Sociologie - Anthropologie. Ils sont donc
            chargés d'animer une table ronde sur la thématique les droits du Vodun.
        </p>

        <h2>Divertissement</h2>
        <p>
            Outre les activités d'échanges scientifiques prévues au programme, des plages de divertissement sont 
            retenues pour agrémenter la journée. Au nombre des activités ludiques, nous avons l'organisation d'un
            championnat de Buntu, des interprétations de morceaux musicaux, des chorégraphies, un ballet ...
        </p>
    </div>

</div>

{#<div class="fenetre">
    <div>
        <h1>Chronogramme</h1>

    </div>

</div>#}

{#{% include 'layouts/partials/annonce.html' %}#}


{% endblock %}