{% extends '/layouts/default.html' %}

{% block title%}Qui sommes-nous? - {{super()}}{% endblock %}

{% block body %}

<div class="fenetre" id="corps">
    <div>
        <h1>Ecole de Boologie d'Adjarra</h1>
        <p>
            Conduit sous la direction du Docteur d'état en Sociologie et Anthropologie, l'Ecole de Boologie
            d'Adjarra rassemble les étudiants du département de sociologie et d'anthropologie du centre 
            universitaire d'adjarra qui partage la passion de découvrir les fondements d'une science: la boologie.
            Les actions de l'Ecole de Boologie d'Adjarra vont dans le sens de promouvoir les savoirs endogènes
            tout en recherchant des modèles capables de conduire à un rayonnement des peuples Africain et particulier
            du Bénin. Les différentes réflexions en cours s'appuient fondamentalement sur la trilogie Fa-Vodun-Boo afin 
            de mettre en exergue de nouveaux critères d'appréciation du bien être propre au béninois.
        </p>  
    </div>

    <div>
        <h1>Comité d'organisation du mini-symposium</h1>
        <p>
            Dans le cadre de l'organisation du Mini-symposium, un comité d'organition a été mis sur
            pied. Découvrons ensemble les membres dudit comité!
        </p>
        <div>
            <h2>Président</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Au poste du président du comité, nous avons Souvenir MEGNIGBETO. Il est étudiant en troisième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Vice présidente</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le poste de vice présidente est occupé par mademoiselle Nadège GOUDEDJI. Elle est étudiante en deuxième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Secrétaire général</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le Secrétaire général du comité est monsieur Ghislain DJOSSOU. Il est étudiant en première 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Secrétaire adjointe</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                La secrétaire adjointe du comité est mademoiselle Falonne PANOUMASSI. Elle est étudiante en troisième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Trésorière</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                La trésorière du comité est mademoiselle Adèle AHOLOUYEYI. Elle est étudiante en deuxième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Trésorier adjoint</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le trésorier adjoint du comité est monsieur Edmond DOVOEDO. Il est étudiant en première 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Premier responsable à l'organisation</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le premier responsable à l'organisation du comité est monsieur Etienne DENAKPO. Il est étudiant en deuxième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Deuxième responsable à l'organisation</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le deuxième responsable à l'organisation du comité est monsieur Henri ALOVOGNANKOU. Il est étudiant en troisième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Responsable de la logistique</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le responsable de la logistique du comité est monsieur Dodji ALIMA. Il est étudiant en deuxième 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
        <div>
            <h2>Responsable de la sécurité</h2>
            {#<img class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">#}
            <p>
                Le responsable de la logistique du comité est monsieur Honoré SAGBO. Il est étudiant en première 
                année de licence au département de sociologie et d'anthropologie à Adjarra.
            </p>
        </div>
    </div>
</div>

{% include 'layouts/partials/annonce.html' %}


{% endblock %}