<div class="fenetre" id="sidebandeAnnonce">
    
    {#<div id="recherche">
        <form class="">
            <input class="" type="search" placeholder="Recherche" aria-label="Recherche">
            <button class="" type="submit">Envoyer</button>
        </form>
    </div>#}
    <div>
        <h1>Annonce</h1>
        <img id="image1" class="gallerie" src="{{url_for('static', filename='image/evt1.jpg')}}" alt="10 Janvier et après?">
        <div class="liste">
            <ul>
                <li>Titre : 10 Janvier : et après? <br> Le Vodun dans un monde en mutation</li>
                <li>Auteur : Raymond C. ASSOGBA</li>
                <li>infos : +229 69 51 94 51</li>
            </ul>
        </div>
    </div>
    <div>
        <h1>Mini-symposium</h1>
        <p>
            Je veux prendre part aux activités du mini-symposium!
            <a href="https://forms.gle/iexEohDkuuSjEaDZ8">S'inscrire ici</a>
        </p> 
    </div>
    

</div>